%label= content.section_label
- text = ( content.instance_variable_defined?(:@text) ) ? content.text : ""
= text_field(:value => text, :name => "gluttonberg::page_localization[contents][#{content.association_name}][#{content.id}][text]", :class => "large")