- @page_id = "login"
- @page_title = "Trouble Accessing Your Account?"

= form(:action => slice_url(:gluttonberg, :reset_password), :method => :put, :id => "wrapper") do
  %h1 Trouble Accessing Your Account?
  
  = text_field(:name => "email", :value => params[:email], :label => "E-mail", :class => "large")
  
  = submit("Reset", :class => "buttonGrey")
  
  %br
  %br
  %br
  %br
  = link_to("Back to Login", url(:gluttonberg_login))
