- @page_title = "Editing page settings"

%p
  The Page Settings screen allows you to make changes to the way a page works, for instance, you can change the page's name, type, layout, or behaviour.
  
%h2
  General Settings
%p
  This section allows you to modify the page Name, Navigation Label, Slug, Parent Page, and also specify if the page is a homepage.
  

  
%h2
  Templates
  
%p
  The "Templates" section allows you to modify the page Type and Layout.

%h2
  Behaviour
  
%p
  Allows you to set how the page will work, <em>i.e.:</em> if you will be able to edit the pages yourself in Gluttonberg, if the information will come from a Database, or if a custom component will be used.
  