- @page_title = "Editing page settings"

%p
  The Page Settings screen allows you to make changes to the way a page works, for instance, you can change the page's name, type, layout, or behaviour.
  
  
%h2
  General Settings
  
%p
  If necessary, you can change the <strong>Name</strong>. This name will appear as the main heading on your page.
  
%p
  The <strong>Navigation Label</strong> appears in Navigational menus on your webpage. It is usually a short version of the page name, <em>i.e.:</em> if the name is "Welcome to my Webpage", the Navigational Label may simply be "welcome".
  
%p
  The <strong>Slug</strong> is a short word or phrase describing your page in a <abbr title="Universal Resource Locator">URL</abbr> (web address) friendly format. It is usually a short version of the name of the page and it appears in the web address to allow people to link to your page.
  
%p
  <strong>WARNING</strong> Changing the slug will change the page's web address!