- @page_title = "New Page"
  
%p 
  The
  %em
    New Page
  screen enables you to create a new page for your website.
  
%h2
  General Settings



%h3
  Name
  
%p
  You will need to give the page a
  %strong
    Name.
  This name will appear as the main heading on your page.
  
%p
  This field is mandatory.



%h3
  Navigation Label
  
%p
  The Navigation Label is a short name for your page that will be used on navigational menus. For example, if your website name is
  %em
    Welcome to my webpage
  set something shorter such as
  %em
    welcome
  as your navigational label.



%h3
  Slug
%p
  A 
  %strong
    Slug
  is a short name used in your page's web address. A good slug allows people to link to your page easily and makes it easier for search engines to find your page.
  
%p
  If your slug needs to have more than one word, put a hyphen in between,
  %em
    i.e.: about-us .
  This method is the best to help search engines find and link to your site.
  
%p
  This field is mandatory.
  
  
%h3
  Parent Page
  
%p
  If the page needs to be a
  %em
    child
  of another page, select a Parent page from this drop down list.
  
  
%h3
  Set as Homepage
  
%p
  You have the option of setting the page as the homepage, however if your website already has a homepage, do not select this option. Only one page can be the homepage at a time.