- @page_title = "Page Details"
  
%p 
  The <strong>Details</strong> screen provides an overview of a page's settings, content areas, and localizations. This is also where you can change the contents of a page.
  
%h2
  To edit content:
  
%p
  The <strong>Localizations</strong> section of the page contains your page's content. You may notice that you have more than one localization: each localization allows you to customize your content for a particular language, culture, or region.
  
%p
  If your page is only for an Australian audience, you will only need to change the <strong>Australian/English</strong> localization.
  
%p
  To edit your content, click on <strong>Edit</strong> to the right of the localization that needs changing.