- @page_title = "Settings"
%ul#iconNav
  %li= link_to("Users", slice_url(:users), :id => "usersNav" , :title => "Users")
  - if Gluttonberg.localized?
    %li= link_to("Dialects", slice_url(:dialects), :id => "dialectsNav" , :title => "Dialects") 
    %li= link_to("Locales", slice_url(:locales), :id => "localesNav" , :title => "Locales")
  - if session.user.is_super_admin  
    %li= link_to("Metadata", slice_url(:generic_settings), :id => "metadataNav"  , :title => "Metadata") 
