- @page_title = "Settings"
%ul#iconNav
  %li= link_to("Users", slice_url(:users), :id => "usersNav")
  - if Gluttonberg.localized?
    %li= link_to("Dialects", slice_url(:dialects), :id => "dialectsNav") 
    %li= link_to("Locales", slice_url(:locales), :id => "localesNav")
  %li= link_to("Metadata", slice_url(:generic_settings), :id => "metadataNav")