- @page_title = "Adding a category"

%p
  Categories can be used to group together Assets that share common properties. You can add an Asset to as many categories as you like.

%p
  %strong
    NAME:
    %span{:style => "color: red;"}
      (required)
  You will need to give the category a name. This field is mandatory.
    
    
%p
  Once you have named your category, click the
  %strong
    Save
  button to save the category. If you do not want to save the category, click on
  %strong
    Cancel
  instead.
  