/*
Sass::SyntaxError: Undefined constant: "!light_aqua".
on line 182 of /Users/taryn/Projects/gluttonberg/gluttonberg/public/stylesheets/sass/library.sass

178:   strong, a
179:     :float left
180: 
181:   strong
182:     :background-color= !light_aqua
183:     :border 1px solid #999999
184:     :whitespace nowrap
185:     :padding 0.35em 0.8em
186:     :margin 0 0.5em 0 0
187:     :width 17em
188:     :overflow hidden


Backtrace:
/Users/taryn/Projects/gluttonberg/gluttonberg/public/stylesheets/sass/library.sass:182
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/constant.rb:211:in `get_constant'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/constant.rb:194:in `operationalize'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/constant.rb:184:in `operationalize'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/constant.rb:47:in `parse'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/engine.rb:339:in `parse_attribute'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/engine.rb:292:in `parse_line'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/engine.rb:202:in `build_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/engine.rb:252:in `build_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/engine.rb:116:in `render_to_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/engine.rb:88:in `render'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/plugin.rb:65:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/plugin.rb:53:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/plugin.rb:53:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-2.0.10/lib/sass/plugin/merb.rb:31:in `call'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core/rack/middleware/static.rb:28:in `call'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core/rack/handler/mongrel.rb:82:in `process'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/opt/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core/rack/adapter/mongrel.rb:38:in `start_server'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core/rack/adapter/abstract.rb:295:in `start_at_port'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core/rack/adapter/abstract.rb:128:in `start'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core/server.rb:174:in `bootup'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core/server.rb:42:in `start'
/opt/local/lib/ruby/gems/1.8/gems/merb-core-1.0.9/lib/merb-core.rb:170:in `start'
/opt/local/lib/ruby/gems/1.8/gems/merb-slices-1.0.9/bin/slice:79
/opt/local/bin/slice:19:in `load'
/opt/local/bin/slice:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined constant: \"!light_aqua\".\A on line 182 of /Users/taryn/Projects/gluttonberg/gluttonberg/public/stylesheets/sass/library.sass\A \A 178:   strong, a\A 179:     :float left\A 180: \A 181:   strong\A 182:     :background-color= !light_aqua\A 183:     :border 1px solid #999999\A 184:     :whitespace nowrap\A 185:     :padding 0.35em 0.8em\A 186:     :margin 0 0.5em 0 0\A 187:     :width 17em\A 188:     :overflow hidden\A "; }
