/* Buttons
.buttonAqua,
.buttonGrey
  :text-decoration none !important
  :font-weight bold
  :padding 0.3em 0.6em
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :float left

.buttonAqua
  :background
    :color= !mid_aqua
    :image url(../images/button_bkg_aqua.gif)
    :repeat repeat-x
  :border 2px solid white
  :color white !important

.buttonGrey
  :background #cccccc left top repeat-x url(../images/button_bkg_grey.gif)
  :border 
    :width 2px
    :style solid
    :color= !mid_aqua
  :color= !mid_aqua 

p.empty
  :font-size 2em
  :color #cccccc
  :text-align center
  :padding 5em 0 0 0
  :width 100%
  :float left

/* Widgets
p.newLink
  :padding 1em
  
  /* Plus and Minus controls
  ul.plusAndMinus
    :margin 0.2em 0 0 1em
    :float left

    li, a
      :width 18px !important
      :height 18px
      :float left

    li
      :border 0 !important
      :padding 0 !important
      :margin 0
      :list-style-type none

    a
      :background left top no-repeat url(../images/form/plus_and_minus.gif)
      :letter-spacing -1000em
      :text-indent -1000em

    .minus
      :background-position right top
      :margin-left 4px !important
      
/* Overlay & Dialog
#assetsDialogOverlay,
#overlay
  :background url(../images/library/dialog_overlay.png)
  :width 100%
  :height 100%
  :position absolute
  :left 0
  :top 0
  :z-index 20

#helpDialog,
#assetsDialog
  :border 4px solid #807F65
  :background #FFFFCC
  :margin 10% 0 0 10%
  :height 80%
  :width 80%
  :position absolute
  :left 0
  :top 0
  :z-index 21
  /* Border Radius */
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  
  h1
    :background #807F65
    :color white
    :font
      :weight bold
      :size 1.6em
    :padding 0.2em 0
    :text-indent 10px
    
  .controls
    :border-top 1px solid #AFAE8B
    :padding 0.8em 0
    :height 1.8em
    :width 100%
    :position absolute
    :left 0
    :bottom 0
    
  .display
    :width 100%
    :float left
    :clear both
    :overflow auto

    .assetList
      :left 2%
      :right 2%
    :width 96%
  
    ul.assetList
      :overflow hidden
  