- @page_title = "New Users"

%p
  When creating a new user, please be sure to fill in all the fields as below:



%p
  %strong
    NAME:
    %span{:style => "color: red;"}
      (required)
  Give the user a name. 
    

%p
  %strong
    E-MAIL:
    %span{:style => "color: red;"}
      (required)
  Type in the user's email address. This name will be used when the user logs into the system.
  
  
  
%p
  %strong
    PASSWORD:
    %span{:style => "color: red;"}
      (required)
  Enter the user's password.
  

%p
  %strong
    CONFIRM PASSWORD:
    %span{:style => "color: red;"}
      (required)
  Enter the user's password again. This is to ensure that the password is correct.
  
  
  
%p
  Once you have entered all the information, click on the
  %strong
    save
  option to save the user.
  