- @page_title = "Edit Page Content (Localization)"
    
%h2
  Changing text formatting:
  
%p
  If you want to modify the way your text will appear&#8212;such as making parts of it bold or italicized&#8212;you can use a basic language called
  %em
    Textile.
    
%p
  To apply Textile to your text, you need to add characters (modifiers) to either side of the word or phrase you want to change, i.e.:
  
%table
  %tr
    %th
      Textile modifiers
    %th
      Result
  %tr
    %td
      This is *bold* text
    %td
      This is <strong>bold</strong> text
  %tr
    %td
      This is _italic_ text
    %td
      This is <em>italic</em> text
  %tr
    %td
      You can +underline+ text too
    %td
      You can <u>underline</u> text too
  %tr
    %td
      Or -strikethrough- text
    %td
      Or <s>strikethrough</s> text
  %tr
    %td
      Text can be ^superscript^
    %td
      Text can be <sup>superscript</sup>
  %tr
    %td
      Or it can be ~subscript~
    %td
      Or it can be <sub>subscript</sub>