- @page_title = "Edit Page Content (Localization)"
    
%h2
  Changing text formatting:
  
%p
  If you want to modify the way your text will appear&#8212;such as making parts of it bold or italicized&#8212;you can use a basic language called
  %em
    Textile.
    
%p
  To apply Textile to your text, you need to add characters (modifiers) to either side of the word or phrase you want to change, i.e.:
  
%table
  %tr
    %th
      Textile modifiers
    %th
      Result
  %tr
    %td
      This is *bold* text
    %td
      This is <strong>bold</strong> text
  %tr
    %td
      This is _italic_ text
    %td
      This is <em>italic</em> text
  %tr
    %td
      You can +underline+ text too
    %td
      You can <u>underline</u> text too
  %tr
    %td
      Or -strikethrough- text
    %td
      Or <s>strikethrough</s> text
  %tr
    %td
      Text can be ^superscript^
    %td
      Text can be <sup>superscript</sup>
  %tr
    %td
      Or it can be ~subscript~
    %td
      Or it can be <sub>subscript</sub>
      
      
%h2
  Headings in Textile

      
%p
  Some textile commands, such as headings, don't need to be added around an item, and can just be added at the start.
  
%table
  %tr
    %th
      Textile modifiers
    %th
      Result
      
  %tr
    %td
      h1. This is a "H1" (largest and most important) heading
    %td
      %span{:style => "font-size: 1.5em; font-weight: bold;"}
        This is a "H1" (largest and most important) heading
      
  %tr
    %td
      h2. This is a "H2" (second most important) heading
    %td
      %span{:style => "font-size: 1.3em; font-weight: bold;"}
        This is a "H2" (second most important) heading
      
  %tr
    %td
      h3. This is a "H3" (third most important) heading
    %td
      %span{:style => "font-size: 1.1em; font-weight: bold;"}
        This is a "H3" (third most important) heading
        
        
%h2
  Numbered and Bulleted Lists
  
%table
  %tr
    %th
      Textile modifiers
    %th
      Result
  
  %tr
    %td
      * Item 1
      %br
      * Item 2
    %td
      %ul
        %li
          Item 1
        %li
          Item 2
  %tr
    %td
      \# Item 1
      %br
      \# Item 2
    %td
      %ol
        %li
          Item 1
        %li
          Item 2
          
          
%h2
  Adding hyperlinks:
  
%table
  %tr
    %th
      Textile modifiers
    %th
      Result
  %tr
    %td
      "link name":http://www.google.com
    %td
      %a{:href => "http://www.google.com"}
        link name
      
%h2
  Adding items from your Asset Library
  
%p
  Sometimes you might need to add a picture or a link to another item from your Asset Library.
  
%p
  %strong
    NOTE:
  You will need the
  %em
    asset number
  of the asset you want to use. This asset number can be found in the web address within the Asset Library.
  
%table
  %tr
    %th
      Textile modifiers
    %th
      Result
  %tr
    %td
      !asset:4!
    %td
      = image_tag "help/help-kitty.jpg"
      
  %tr
    %td
      !asset:4/thumb!:asset:4
    %td
      = image_tag "help/help-kitty-small.jpg"
  %tr
    %td
      "filename":asset:4
    %td
      %a{:href => "/images/help/help-kitty.jpg"}
        filename
  %tr
    %td
      "filename":asset:4/preview
    %td
      %a{:href => "/images/help/help-kitty-small.jpg"}
        filename