%h1
  AssetCategories controller, show action
%p
  Edit this file in
  %tt
    app/views/asset_categories/show.html.erb

= link_to 'Edit',  url(:edit_asset_category,  @asset_category)
|
= link_to 'Back', url(:asset_categories)